## Imports

In [4]:
import pandas as pd
import numpy as np

In [5]:
use_col_list = [#'id',
# 'listing_url',
# 'scrape_id',
# 'last_scraped',
# 'name',
# 'summary',
# 'space',
# 'description',
# 'experiences_offered',
# 'neighborhood_overview',
# 'notes',
# 'transit',
# 'access',
# 'interaction',
# 'house_rules',
# 'thumbnail_url',
# 'medium_url',
# 'picture_url',
# 'xl_picture_url',
 'host_id',
# 'host_url',
# 'host_name',
# 'host_since',
# 'host_location',
# 'host_about',
# 'host_response_time',
 'host_response_rate',
# 'host_acceptance_rate',
# 'host_is_superhost',
# 'host_thumbnail_url',
# 'host_picture_url',
# 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
# 'host_verifications',
# 'host_has_profile_pic',
# 'host_identity_verified',
# 'street',
# 'neighbourhood',
 'neighbourhood_cleansed',
# 'neighbourhood_group_cleansed',
# 'city',
# 'state',
 'zipcode',
 'market',
# 'smart_location',
 'country_code',
# 'country',
 'latitude',
 'longitude',
# 'is_location_exact',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
# 'square_feet',
 'price',
# 'weekly_price',
# 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
# 'minimum_nights',
# 'maximum_nights',
# 'minimum_minimum_nights',
# 'maximum_minimum_nights',
# 'minimum_maximum_nights',
# 'maximum_maximum_nights',
# 'minimum_nights_avg_ntm',
# 'maximum_nights_avg_ntm',
# 'calendar_updated',
# 'has_availability',
# 'availability_30',
# 'availability_60',
# 'availability_90',
# 'availability_365',
# 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
# 'first_review',
# 'last_review',
# 'review_scores_rating',
# 'review_scores_accuracy',
# 'review_scores_cleanliness',
# 'review_scores_checkin',
# 'review_scores_communication',
# 'review_scores_location',
# 'review_scores_value',
# 'requires_license',
# 'license',
# 'jurisdiction_names',
# 'instant_bookable',
# 'is_business_travel_ready',
# 'cancellation_policy',
# 'require_guest_profile_picture',
# 'require_guest_phone_verification',
 'calculated_host_listings_count',
# 'calculated_host_listings_count_entire_homes',
# 'calculated_host_listings_count_private_rooms',
# 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

In [6]:
df = pd.read_csv('listings.csv', usecols=use_col_list, na_values='N/A', thousands=',')

In [225]:
df.shape

(83850, 27)

In [226]:
df.describe()

,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,guests_included,number_of_reviews,number_of_reviews_ltm,calculated_host_listings_count,reviews_per_month
count,8.385000e+04,83803.000000,83803.000000,83850.000000,83850.000000,83850.00000,83712.000000,83816.000000,83710.000000,83850.000000,83850.000000,83850.000000,83850.000000,62827.000000
mean,7.822874e+07,31.875279,31.875279,51.509496,-0.128389,3.18638,1.297341,1.414623,1.749433,1.609112,16.484317,6.678998,25.599499,1.208366
std,7.823495e+07,172.809247,172.809247,0.046238,0.092231,2.01257,0.618016,0.926037,1.284223,1.347548,34.892659,12.631549,137.240553,1.416845
min,2.010000e+03,0.000000,0.000000,51.292720,-0.501300,0.00000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
25%,1.451736e+07,1.000000,1.000000,51.485240,-0.188390,2.00000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.240000
50%,4.451248e+07,2.000000,2.000000,51.513970,-0.125810,2.00000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,1.000000,0.740000
75%,1.325813e+08,5.000000,5.000000,51.537400,-0.070370,4.00000,1.500000,2.000000,2.000000,2.000000,17.000000,8.000000,4.000000,1.640000
max,2.749791e+08,1433.000000,1433.000000,51.686570,0.296570,16.00000,24.000000,24.000000,55.000000,22.000000,665.000000,200.000000,1161.000000,30.930000

In [227]:
columns_list = list(df.columns)

In [228]:
columns_list

['host_id',
 'host_response_rate',
 'host_listings_count',
 'host_total_listings_count',
 'neighbourhood_cleansed',
 'zipcode',
 'market',
 'country_code',
 'latitude',
 'longitude',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'calculated_host_listings_count',
 'reviews_per_month']

In [229]:
df.head()

,host_id,host_response_rate,host_listings_count,host_total_listings_count,neighbourhood_cleansed,zipcode,market,country_code,latitude,longitude,...,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,number_of_reviews,number_of_reviews_ltm,calculated_host_listings_count,reviews_per_month
0,54730,86%,4.0,4.0,Islington,N4 3,London,GB,51.56802,-0.11121,...,"{TV,""Cable TV"",Wifi,Kitchen,""Paid parking off ...",$65.00,$100.00,$15.00,1,$15.00,16,2,3,0.15
1,60302,100%,1.0,1.0,Kensington and Chelsea,SW3,London,GB,51.48796,-0.16898,...,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",$100.00,$150.00,$50.00,2,$0.00,85,4,1,0.73
2,67564,85%,19.0,19.0,Westminster,W1T4BP,London,GB,51.52098,-0.14002,...,"{TV,Wifi,Kitchen,""Paid parking off premises"",E...",$300.00,$350.00,$65.00,4,$10.00,41,12,14,0.41
3,41759,100%,2.0,2.0,Wandsworth,SW11 5GX,London,GB,51.47298,-0.16376,...,"{TV,""Cable TV"",Internet,Wifi,Kitchen,""Free par...",$175.00,$250.00,$70.00,2,$0.00,93,1,1,0.88
4,102813,100%,1.0,1.0,Wandsworth,SW19 6QH,London,GB,51.44687,-0.21874,...,"{TV,Wifi,Kitchen,""Free parking on premises"",El...",$65.00,$250.00,$50.00,2,$11.00,28,3,1,0.69

### Remove currency symbol from currency data

In [230]:
df[df['price'].str.startswith('$')]

,host_id,host_response_rate,host_listings_count,host_total_listings_count,neighbourhood_cleansed,zipcode,market,country_code,latitude,longitude,...,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,number_of_reviews,number_of_reviews_ltm,calculated_host_listings_count,reviews_per_month
0,54730,86%,4.0,4.0,Islington,N4 3,London,GB,51.56802,-0.11121,...,"{TV,""Cable TV"",Wifi,Kitchen,""Paid parking off ...",$65.00,$100.00,$15.00,1,$15.00,16,2,3,0.15
1,60302,100%,1.0,1.0,Kensington and Chelsea,SW3,London,GB,51.48796,-0.16898,...,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",$100.00,$150.00,$50.00,2,$0.00,85,4,1,0.73
2,67564,85%,19.0,19.0,Westminster,W1T4BP,London,GB,51.52098,-0.14002,...,"{TV,Wifi,Kitchen,""Paid parking off premises"",E...",$300.00,$350.00,$65.00,4,$10.00,41,12,14,0.41
3,41759,100%,2.0,2.0,Wandsworth,SW11 5GX,London,GB,51.47298,-0.16376,...,"{TV,""Cable TV"",Internet,Wifi,Kitchen,""Free par...",$175.00,$250.00,$70.00,2,$0.00,93,1,1,0.88
4,102813,100%,1.0,1.0,Wandsworth,SW19 6QH,London,GB,51.44687,-0.21874,...,"{TV,Wifi,Kitchen,""Free parking on premises"",El...",$65.00,$250.00,$50.00,2,$11.00,28,3,1,0.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83845,90770681,67%,1.0,1.0,Westminster,NW8 9YB,London,GB,51.53057,-0.18423,...,"{Wifi,Kitchen,""Free parking on premises"",Heati...",$100.00,$0.00,$50.00,1,$40.00,0,0,1,NaN
83846,47609036,100%,17.0,17.0,Islington,EC1Y 8TQ,London,GB,51.52301,-0.08979,...,"{TV,Wifi,Kitchen,Heating,""Smoke detector"",Esse...",$82.00,NaN,NaN,1,$0.00,0,0,18,NaN
83847,47609036,100%,17.0,17.0,Islington,EC1Y 8TQ,London,GB,51.52301,-0.08979,...,"{TV,Wifi,Kitchen,Heating,""Smoke detector"",Esse...",$78.00,NaN,NaN,1,$0.00,0,0,18,NaN
83848,47609036,100%,17.0,17.0,Islington,EC1Y 8TQ,London,GB,51.52301,-0.08979,...,"{TV,Wifi,Kitchen,Heating,""Smoke detector"",Esse...",$82.00,NaN,NaN,1,$0.00,0,0,18,NaN
83849,47609036,100%,17.0,17.0,Tower Hamlets,E14,London,GB,51.51050,-0.01788,...,"{Wifi,Kitchen,Essentials,""Hair dryer"",Iron}",$72.00,NaN,NaN,1,$0.00,0,0,18,NaN

In [231]:
currency_columns = [ 'price',
# 'weekly_price',
# 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'extra_people']

In [232]:
for col in currency_columns:
    df[f'{col}'] = df[f'{col}'].replace('\$','', regex=True)
    df[f'{col}'] = df[f'{col}'].replace(',','', regex=True)
    df[f'{col}'] = df[f'{col}'].astype(float)
    df[f'{col}'] = df[f'{col}'].fillna(0)

In [233]:
df['price'].dtype

dtype('float64')

In [234]:
df

,host_id,host_response_rate,host_listings_count,host_total_listings_count,neighbourhood_cleansed,zipcode,market,country_code,latitude,longitude,...,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,number_of_reviews,number_of_reviews_ltm,calculated_host_listings_count,reviews_per_month
0,54730,86%,4.0,4.0,Islington,N4 3,London,GB,51.56802,-0.11121,...,"{TV,""Cable TV"",Wifi,Kitchen,""Paid parking off ...",65.0,100.0,15.0,1,15.0,16,2,3,0.15
1,60302,100%,1.0,1.0,Kensington and Chelsea,SW3,London,GB,51.48796,-0.16898,...,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",100.0,150.0,50.0,2,0.0,85,4,1,0.73
2,67564,85%,19.0,19.0,Westminster,W1T4BP,London,GB,51.52098,-0.14002,...,"{TV,Wifi,Kitchen,""Paid parking off premises"",E...",300.0,350.0,65.0,4,10.0,41,12,14,0.41
3,41759,100%,2.0,2.0,Wandsworth,SW11 5GX,London,GB,51.47298,-0.16376,...,"{TV,""Cable TV"",Internet,Wifi,Kitchen,""Free par...",175.0,250.0,70.0,2,0.0,93,1,1,0.88
4,102813,100%,1.0,1.0,Wandsworth,SW19 6QH,London,GB,51.44687,-0.21874,...,"{TV,Wifi,Kitchen,""Free parking on premises"",El...",65.0,250.0,50.0,2,11.0,28,3,1,0.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83845,90770681,67%,1.0,1.0,Westminster,NW8 9YB,London,GB,51.53057,-0.18423,...,"{Wifi,Kitchen,""Free parking on premises"",Heati...",100.0,0.0,50.0,1,40.0,0,0,1,NaN
83846,47609036,100%,17.0,17.0,Islington,EC1Y 8TQ,London,GB,51.52301,-0.08979,...,"{TV,Wifi,Kitchen,Heating,""Smoke detector"",Esse...",82.0,0.0,0.0,1,0.0,0,0,18,NaN
83847,47609036,100%,17.0,17.0,Islington,EC1Y 8TQ,London,GB,51.52301,-0.08979,...,"{TV,Wifi,Kitchen,Heating,""Smoke detector"",Esse...",78.0,0.0,0.0,1,0.0,0,0,18,NaN
83848,47609036,100%,17.0,17.0,Islington,EC1Y 8TQ,London,GB,51.52301,-0.08979,...,"{TV,Wifi,Kitchen,Heating,""Smoke detector"",Esse...",82.0,0.0,0.0,1,0.0,0,0,18,NaN
83849,47609036,100%,17.0,17.0,Tower Hamlets,E14,London,GB,51.51050,-0.01788,...,"{Wifi,Kitchen,Essentials,""Hair dryer"",Iron}",72.0,0.0,0.0,1,0.0,0,0,18,NaN

### Remove % symbol from host_response_rate

In [235]:
df['host_response_rate'] = df['host_response_rate'].replace('%','', regex=True).astype('float')

In [236]:
df['host_response_rate'].head()

0     86.0
1    100.0
2     85.0
3    100.0
4    100.0
Name: host_response_rate, dtype: float64

### Confine data to UK and London

In [237]:
df = df[df['country_code'] == 'GB']

In [238]:
df = df[(df['market'] == 'London') | (df['market'].notnull())]

In [239]:
df = df.drop(columns=['country_code','market'])

In [240]:
#df['experiences_offered'].value_counts()

In [241]:
df.shape

(83001, 25)

### Check null values

In [8]:
df.isna().any()

host_id                           False
host_response_rate                 True
host_listings_count                True
host_total_listings_count          True
neighbourhood_cleansed            False
zipcode                            True
market                             True
country_code                      False
latitude                          False
longitude                         False
property_type                     False
room_type                         False
accommodates                      False
bathrooms                          True
bedrooms                           True
beds                               True
bed_type                          False
amenities                         False
price                             False
security_deposit                   True
cleaning_fee                       True
guests_included                   False
extra_people                      False
number_of_reviews                 False
number_of_reviews_ltm             False
calculated_host_listings_count    False
reviews_per_month                  True
dtype: bool

In [7]:
df.isnull().sum()

host_id                               0
host_response_rate                24782
host_listings_count                  47
host_total_listings_count            47
neighbourhood_cleansed                0
zipcode                            1948
market                              846
country_code                          0
latitude                              0
longitude                             0
property_type                         0
room_type                             0
accommodates                          0
bathrooms                           138
bedrooms                             34
beds                                140
bed_type                              0
amenities                             0
price                                 0
security_deposit                  29475
cleaning_fee                      21572
guests_included                       0
extra_people                          0
number_of_reviews                     0
number_of_reviews_ltm                 0
calculated_host_listings_count        0
reviews_per_month                 21023
dtype: int64

In [244]:
df.notnull().sum()

host_id                           83001
host_response_rate                58694
host_listings_count               82954
host_total_listings_count         82954
neighbourhood_cleansed            83001
zipcode                           81054
latitude                          83001
longitude                         83001
property_type                     83001
room_type                         83001
accommodates                      83001
bathrooms                         82863
bedrooms                          82967
beds                              82861
bed_type                          83001
amenities                         83001
price                             83001
security_deposit                  83001
cleaning_fee                      83001
guests_included                   83001
extra_people                      83001
number_of_reviews                 83001
number_of_reviews_ltm             83001
calculated_host_listings_count    83001
reviews_per_month                 62210
dtype: int64

#### % of column which is null

In [245]:
df.isna().mean().round(4) * 100

host_id                            0.00
host_response_rate                29.29
host_listings_count                0.06
host_total_listings_count          0.06
neighbourhood_cleansed             0.00
zipcode                            2.35
latitude                           0.00
longitude                          0.00
property_type                      0.00
room_type                          0.00
accommodates                       0.00
bathrooms                          0.17
bedrooms                           0.04
beds                               0.17
bed_type                           0.00
amenities                          0.00
price                              0.00
security_deposit                   0.00
cleaning_fee                       0.00
guests_included                    0.00
extra_people                       0.00
number_of_reviews                  0.00
number_of_reviews_ltm              0.00
calculated_host_listings_count     0.00
reviews_per_month                 25.05
dtype: float64

In [246]:
df['bathrooms'] = df['bathrooms'].fillna(0)
df['bedrooms'] = df['bedrooms'].fillna(0)
df['beds'] = df['beds'].fillna(0)

In [247]:
#df['neighbourhood_cleansed'].value_counts()

In [248]:
df[df['host_listings_count'] != df['host_total_listings_count']]

,host_id,host_response_rate,host_listings_count,host_total_listings_count,neighbourhood_cleansed,zipcode,latitude,longitude,property_type,room_type,...,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,number_of_reviews,number_of_reviews_ltm,calculated_host_listings_count,reviews_per_month
922,2303572,NaN,NaN,NaN,Tower Hamlets,E3 2JF,51.53519,-0.02744,Apartment,Entire home/apt,...,"{TV,Internet,Wifi,Kitchen,""Buzzer/wireless int...",200.0,0.0,0.0,1,0.0,1,0,1,0.04
7002,6209144,NaN,NaN,NaN,Haringey,N8,51.57788,-0.12447,House,Entire home/apt,...,"{Wifi,Kitchen,""Pets allowed"",""Free street park...",315.0,0.0,60.0,1,0.0,18,5,1,0.35
7920,8317501,NaN,NaN,NaN,Tower Hamlets,E2 0AA,51.52637,-0.06732,House,Private room,...,"{Internet,Wifi,Kitchen,""Smoking allowed"",""Hot ...",50.0,0.0,0.0,1,0.0,0,0,1,NaN
9259,35142183,NaN,NaN,NaN,Newham,E13 9EG,51.53044,0.03242,Townhouse,Private room,...,"{TV,Wifi,Kitchen,""Paid parking off premises"",B...",29.0,150.0,0.0,1,10.0,175,15,3,3.59
9273,35142183,NaN,NaN,NaN,Newham,E13 9EG,51.53087,0.03199,Townhouse,Private room,...,"{TV,Wifi,Kitchen,""Paid parking off premises"",B...",29.0,150.0,0.0,1,10.0,28,4,3,0.65
9776,36624584,NaN,NaN,NaN,Bromley,BR3 5EL,51.41201,-0.02034,Apartment,Private room,...,"{TV,Internet,Wifi,Kitchen,""Free parking on pre...",30.0,0.0,4.0,1,0.0,0,0,1,NaN
9816,22047056,NaN,NaN,NaN,Westminster,SW1P 2QG,51.49452,-0.13415,Apartment,Private room,...,"{Internet,Wifi,Kitchen,""Hot tub"",""Buzzer/wirel...",35.0,0.0,0.0,1,0.0,0,0,1,NaN
10152,37691622,NaN,NaN,NaN,Southwark,SE16,51.50156,-0.05231,Townhouse,Entire home/apt,...,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",55.0,100.0,20.0,1,20.0,8,3,1,0.17
10282,507755,NaN,NaN,NaN,Hackney,E9 6AR,51.54844,-0.04248,Apartment,Entire home/apt,...,"{Internet,Wifi,Kitchen,Elevator,""Buzzer/wirele...",50.0,0.0,20.0,1,0.0,1,0,1,0.02
10590,36952108,NaN,NaN,NaN,Camden,NW1 8YA,51.54148,-0.15438,Apartment,Entire home/apt,...,"{TV,""Cable TV"",Internet,Wifi,Kitchen,Heating,""...",140.0,250.0,50.0,1,0.0,2,0,1,0.05
10950,39828462,NaN,NaN,NaN,Tower Hamlets,E14 3DT,51.48728,-0.01216,House,Private room,...,"{Internet,Wifi,Pool,Kitchen,""Free parking on p...",30.0,0.0,0.0,1,0.0,0,0,1,NaN
11344,40928085,NaN,NaN,NaN,Haringey,N15 6RH,51.57723,-0.08603,House,Private room,...,"{TV,""Cable TV"",Internet,Kitchen,""Smoking allow...",40.0,0.0,0.0,1,0.0,0,0,1,NaN
11977,43023101,NaN,NaN,NaN,Waltham Forest,E4 7DP,51.63386,0.00569,House,Private room,...,"{TV,""Cable TV"",Internet,Wifi,Kitchen,""Free par...",70.0,0.0,0.0,1,0.0,0,0,1,NaN
12541,44815642,NaN,NaN,NaN,Camden,NW1 0JH,51.53551,-0.13957,Apartment,Private room,...,"{Wifi,Kitchen,""Buzzer/wireless intercom"",Heati...",33.0,0.0,0.0,1,0.0,0,0,1,NaN
13244,1488969,NaN,NaN,NaN,Camden,NW5 3DX,51.54648,-0.14557,Bungalow,Private room,...,"{TV,Internet,Wifi,Kitchen,""Paid parking off pr...",54.0,0.0,0.0,1,0.0,4,0,2,0.19
14306,35142183,NaN,NaN,NaN,Newham,E13 9EG\nE139EG,51.52965,0.03022,Townhouse,Private room,...,"{TV,Wifi,Kitchen,""Paid parking off premises"",B...",29.0,150.0,0.0,1,10.0,100,43,3,2.74
17061,1903712,NaN,NaN,NaN,Southwark,SE17 3HU,51.48229,-0.10094,Townhouse,Private room,...,"{Internet,Wifi,Kitchen,Heating,Washer,""Smoke d...",35.0,0.0,0.0,2,10.0,7,0,1,0.18
20477,77060065,NaN,NaN,NaN,Hackney,NaN,51.56166,-0.09521,Apartment,Private room,...,"{Wifi,Kitchen,Elevator,""Hot tub"",Heating,Washe...",35.0,100.0,0.0,1,0.0,4,0,1,0.11
20760,78296291,NaN,NaN,NaN,Wandsworth,SW18 5PX,51.45129,-0.21054,Apartment,Private room,...,"{Wifi,Kitchen,""Free parking on premises"",Heati...",30.0,100.0,40.0,1,0.0,0,0,1,NaN
23252,79411714,NaN,NaN,NaN,Brent,HA9 0HL,51.56041,-0.28480,Apartment,Entire home/apt,...,"{TV,Wifi,Kitchen,""Free parking on premises"",Br...",220.0,0.0,0.0,1,0.0,0,0,1,NaN
23606,1488969,NaN,NaN,NaN,Westminster,W9 1AU,51.52559,-0.18150,Apartment,Entire home/apt,...,"{Kitchen,""Paid parking off premises"",""Free str...",130.0,0.0,0.0,1,0.0,28,0,2,0.89
31426,128860208,NaN,NaN,NaN,Wandsworth,SW11,51.46943,-0.16632,House,Private room,...,"{Wifi,Heating,""Smoke detector"",Essentials,Hang...",55.0,0.0,10.0,1,15.0,16,0,1,0.61
32260,82377210,NaN,NaN,NaN,Southwark,SE5 8UX,51.46942,-0.07754,Apartment,Private room,...,"{Wifi,Kitchen,""Hot tub"",Heating,Washer,""Smoke ...",25.0,0.0,0.0,1,0.0,0,0,1,NaN
34865,139797153,NaN,NaN,NaN,Hammersmith and Fulham,SW6 2RT,51.46883,-0.18929,Townhouse,Private room,...,"{TV,Wifi,Heating,""Smoke detector"",""Carbon mono...",44.0,0.0,0.0,1,0.0,128,83,1,5.26
36153,143541334,NaN,NaN,NaN,Hackney,NaN,51.53600,-0.07898,Apartment,Private room,...,"{Wifi,Kitchen,Washer,""Smoke detector"",Essentia...",28.0,0.0,20.0,1,0.0,1,0,1,0.04
45292,107560365,NaN,NaN,NaN,Westminster,NW1 6DX,51.52417,-0.16143,Apartment,Entire home/apt,...,"{TV,Wifi,Kitchen,""Free street parking"",Heating...",109.0,85.0,74.0,1,0.0,49,39,1,3.15
45595,16520119,NaN,NaN,NaN,Kensington and Chelsea,SW5 0SP,51.49422,-0.19606,Apartment,Private room,...,"{Wifi,Kitchen,""Hot tub"",""Buzzer/wireless inter...",50.0,0.0,0.0,1,0.0,3,1,1,0.19
46548,177987796,NaN,NaN,NaN,Kensington and Chelsea,SW5 0TN,51.49361,-0.19261,Apartment,Entire home/apt,...,"{TV,Wifi,Kitchen,Heating,Shampoo,Hangers,""Hair...",209.0,200.0,60.0,4,0.0,0,0,7,NaN
46710,177987796,NaN,NaN,NaN,Kensington and Chelsea,SW7 3DY,51.49252,-0.17880,Apartment,Entire home/apt,...,"{TV,Wifi,Kitchen,Heating,Essentials,Shampoo,Ha...",249.0,200.0,60.0,6,0.0,10,9,7,0.71
46711,177987796,NaN,NaN,NaN,Kensington and Chelsea,SW7 4AU,51.49565,-0.18417,Apartment,Entire home/apt,...,"{TV,Wifi,Kitchen,Heating,Washer,Shampoo,""Hair ...",249.0,200.0,60.0,5,0.0,4,4,7,0.60
46713,177987796,NaN,NaN,NaN,Kensington and Chelsea,SW10 9DE,51.48461,-0.18734,Apartment,Entire home/apt,...,"{TV,Wifi,Kitchen,Heating,Washer,Shampoo,Hanger...",249.0,200.0,20.0,6,0.0,7,6,7,0.48
47767,177987796,NaN,NaN,NaN,Westminster,SW1W 0JN,51.49747,-0.14569,Apartment,Entire home/apt,...,"{TV,Wifi,Kitchen,Heating,""Hair dryer"",""Private...",239.0,200.0,60.0,5,0.0,4,4,7,0.65
47774,177987796,NaN,NaN,NaN,Westminster,SW1V 3EY,51.48832,-0.13824,Apartment,Entire home/apt,...,"{TV,Wifi,Kitchen,Heating,Shampoo,Hangers,""Hair...",239.0,200.0,60.0,5,0.0,11,11,7,1.02
50047,74872575,NaN,NaN,NaN,Lambeth,SW9 7PR,51.46459,-0.11048,Apartment,Entire home/apt,...,"{Wifi,Kitchen,""Smoking allowed"",Heating,Washer...",80.0,200.0,30.0,1,0.0,9,4,1,0.67
54124,3593231,NaN,NaN,NaN,Hammersmith and Fulham,SW6 1RD,51.48594,-0.20088,House,Entire home/apt,...,"{Wifi,Kitchen,Breakfast,Heating,Washer,Dryer,""...",320.0,600.0,0.0,1,0.0,0,0,1,NaN
63215,40194765,NaN,NaN,NaN,Wandsworth,SW11 3DS,51.47430,-0.17203,Townhouse,Entire home/apt,...,"{Wifi,Kitchen,""Pets allowed"",Breakfast,Heating...",140.0,200.0,25.0,1,20.0,2,2,1,0.28
63665,32263262,NaN,NaN,NaN,Lambeth,SW16 2JG,51.43664,-0.11431,Apartment,Entire home/apt,...,"{TV,Wifi,Kitchen,""Pets allowed"",""Free street p...",65.0,0.0,36.0,1,0.0,1,1,1,0.23
64769,37722010,NaN,NaN,NaN,Camden,NW6 3RU,51.54550,-0.19074,Apartment,Private room,...,"{Wifi,""Free parking on premises"",Heating,Washe...",30.0,0.0,0.0,1,0.0,1,1,2,0.67
65075,18200556,NaN,NaN,NaN,Lambeth,SW47LJ,51.46278,-0.13109,Apartment,Entire home/apt,...,"{TV,Wifi,Kitchen,Heating,""Carbon monoxide dete...",75.0,79.0,15.0,1,0.0,5,5,1,0.84
65391,113565245,NaN,NaN,NaN,Barnet,NW4 4JU,51.59005,-0.22704,House,Private room,...,"{Wifi,Heating,Washer,Essentials,Shampoo,""Lock ...",30.0,77.0,0.0,1,15.0,2,2,1,0.37
66762,52080083,NaN,NaN,NaN,Barnet,NW4 4EG,51.59001,-0.22538,House,Private room,...,"{Kitchen,""Smoking allowed"",Heating,Washer,""Smo...",30.0,0.0,20.0,1,5.0,0,0,1,NaN
68327,37722010,NaN,NaN,NaN,Camden,NW6 3RU,51.54595,-0.19000,Apartment,Private room,...,"{Wifi,Kitchen,""Free parking on premises"",Heati...",23.0,0.0,0.0,1,15.0,1,1,2,1.00
70500,177987796,NaN,NaN,NaN,Kensington and Chelsea,SW10 9RG,51.48783,-0.17991,Apartment,Entire home/apt,...,"{TV,Wifi,Kitchen,Heating,""Smoke detector"",Esse...",396.0,200.0,20.0,8,0.0,0,0,7,NaN
75675,261513640,NaN,NaN,NaN,Camden,NW5 3NA,51.54476,-0.14994,House,Entire home/apt,...,"{TV,Wifi,Kitchen,Heating,Washer,""Smoke detecto...",150.0,0.0,0.0,1,0.0,3,3,1,2.73
76059,2299876,NaN,NaN,NaN,Havering,RM7 8BB,51.58444,0.15828,House,Private room,...,"{TV,Wifi,Kitchen,""Free parking on premises"",Br...",30.0,0.0,10.0,1,10.0,4,4,1,2.35
76509,76925488,NaN,NaN,NaN,Southwark,SE1 6SY,51.49226,-0.10012,Apartment,Entire home/apt,...,"{TV,Wifi,Kitchen,Elevator,Heating,Washer,Dryer...",150.0,1000.0,0.0,1,20.0,2,2,1,1.76
81738,106626994,NaN,NaN,NaN,Hammersmith and Fulham,SW6 2UE,51.46974,-0.19082,Apartment,Entire home/apt,...,"{TV,Wifi,Kitchen,""Paid parking off premises"",""...",185.0,0.0,40.0,1,0.0,0,0,1,NaN

### remove host_total_listings_count

In [249]:
df = df.drop(columns=['host_total_listings_count'])

### Check Price Bounds

In [250]:
df['price'].min()

0.0

In [251]:
df[df['price'] == 0]

,host_id,host_response_rate,host_listings_count,neighbourhood_cleansed,zipcode,latitude,longitude,property_type,room_type,accommodates,...,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,number_of_reviews,number_of_reviews_ltm,calculated_host_listings_count,reviews_per_month
22736,60351868,100.0,2.0,Hackney,E9 7QL,51.53964,-0.05461,Loft,Private room,2,...,"{TV,Wifi,Kitchen,""Paid parking off premises"",""...",0.0,0.0,0.0,1,10.0,28,23,2,1.76
31030,36327170,100.0,1.0,Waltham Forest,E17,51.57500,-0.03317,Townhouse,Private room,2,...,"{TV,""Cable TV"",Wifi,Kitchen,""Paid parking off ...",0.0,80.0,10.0,1,10.0,58,25,1,2.20
31511,45594832,NaN,1.0,Camden,NW3 3JX,51.54414,-0.16598,Apartment,Private room,2,...,"{TV,Internet,Wifi,Kitchen,Elevator,Heating,Was...",0.0,0.0,10.0,1,0.0,0,0,1,NaN
34035,7177864,50.0,1.0,Tower Hamlets,E2 9HL,51.53171,-0.05539,Apartment,Private room,1,...,"{Internet,Wifi,Kitchen,""Free parking on premis...",0.0,80.0,20.0,1,0.0,0,0,1,NaN
36471,30758006,100.0,2.0,Westminster,W1T 1QP,51.51647,-0.13315,Apartment,Private room,2,...,"{TV,""Cable TV"",Wifi,""Smoking allowed"",Heating,...",0.0,0.0,50.0,1,10.0,11,0,2,0.48
36562,111134278,90.0,9.0,Ealing,W3 9QA,51.51072,-0.28179,Apartment,Entire home/apt,3,...,"{TV,Wifi,Kitchen,Heating,Washer,Dryer,""Smoke d...",0.0,200.0,15.0,2,0.0,16,5,9,0.74
37073,1259046,NaN,4.0,Tower Hamlets,E2 0JD,51.52790,-0.05235,Guest suite,Entire home/apt,3,...,"{TV,Wifi,Kitchen,Heating,Washer,""Smoke detecto...",0.0,150.0,30.0,2,10.0,1,0,4,0.05
37177,17959316,98.0,8.0,Southwark,SE1 2BT,51.50368,-0.07615,Apartment,Entire home/apt,4,...,"{TV,Wifi,""Air conditioning"",Kitchen,Heating,Wa...",0.0,100.0,25.0,2,10.0,21,16,1,0.93
37221,110637738,100.0,3.0,Tower Hamlets,E1W 2JW,51.50700,-0.06438,Townhouse,Private room,2,...,"{Essentials,""Self check-in"",""Smart lock""}",0.0,100.0,15.0,1,12.0,3,0,3,0.13
37330,2036946,87.0,76.0,Westminster,SW1V 4HT,51.48997,-0.14381,Apartment,Entire home/apt,6,...,"{TV,Wifi,Kitchen,""Paid parking off premises"",H...",0.0,300.0,100.0,4,0.0,38,15,15,1.67
37344,18707182,100.0,17.0,Tower Hamlets,E1 1JU,51.51743,-0.06528,Apartment,Entire home/apt,4,...,"{TV,Wifi,Kitchen,Heating,Washer,Essentials,Sha...",0.0,200.0,50.0,1,0.0,6,4,16,0.28
37428,5522348,82.0,4.0,Lambeth,SE11 4NY,51.49156,-0.10838,Apartment,Private room,4,...,"{TV,Wifi,Kitchen,Heating,Washer,Dryer,""Smoke d...",0.0,250.0,33.0,1,19.0,24,17,3,1.12
37679,103363944,100.0,11.0,Southwark,SE17 1RL,51.48796,-0.09592,Apartment,Entire home/apt,3,...,"{TV,Internet,Wifi,Kitchen,Heating,""Smoke detec...",0.0,0.0,0.0,1,0.0,25,13,11,1.14
38631,555427,100.0,8.0,Southwark,SE5 7TB,51.47953,-0.08511,House,Entire home/apt,4,...,"{Wifi,Kitchen,Heating,Washer,Essentials,Hanger...",0.0,200.0,50.0,2,12.0,39,19,7,1.84
38891,114559278,90.0,10.0,Newham,E6 5JL,51.52064,0.04885,House,Private room,6,...,{},0.0,90.0,32.0,4,5.0,5,1,10,0.24
39068,111805317,100.0,12.0,Tower Hamlets,E2 9RR,51.52994,-0.05744,Apartment,Shared room,1,...,"{Wifi,Kitchen,""Paid parking off premises"",Brea...",0.0,0.0,5.0,1,0.0,85,65,10,3.97
39335,114559278,90.0,10.0,Newham,E6 5JL,51.51945,0.05004,House,Private room,1,...,"{""Cable TV"",Wifi,Kitchen,""Free parking on prem...",0.0,90.0,12.0,1,10.0,0,0,10,NaN
39520,142216086,NaN,7.0,Waltham Forest,E10,51.56492,-0.00344,Apartment,Entire home/apt,3,...,"{Kitchen,Heating,Essentials}",0.0,0.0,25.0,1,0.0,0,0,7,NaN
39557,6047468,100.0,1.0,Southwark,SE17,51.49267,-0.09837,Apartment,Entire home/apt,4,...,"{TV,Wifi,Kitchen,Gym,Elevator,Heating,Washer,D...",0.0,500.0,40.0,1,0.0,2,1,1,0.11

#### Remove listings with 0 price

In [252]:
df = df[df['price'] > 0]

In [253]:
df['price'].max()

13700.0

In [254]:
df[df['price'] == df['price'].max()]

,host_id,host_response_rate,host_listings_count,neighbourhood_cleansed,zipcode,latitude,longitude,property_type,room_type,accommodates,...,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,number_of_reviews,number_of_reviews_ltm,calculated_host_listings_count,reviews_per_month
57306,200991545,100.0,4.0,Westminster,W1B 4DY,51.51113,-0.13533,Hotel,Private room,7,...,"{TV,Wifi,""Air conditioning"",Essentials,""Hair d...",13700.0,0.0,0.0,2,80.0,0,0,4,NaN

The hotel cafe Royal has a 12 bedroom penthouse apartment so the price is not obviously false https://www.hotelcaferoyal.com/rooms/dome-wing

In [255]:
df[df['price'] > 10000.0]

,host_id,host_response_rate,host_listings_count,neighbourhood_cleansed,zipcode,latitude,longitude,property_type,room_type,accommodates,...,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,number_of_reviews,number_of_reviews_ltm,calculated_host_listings_count,reviews_per_month
57306,200991545,100.0,4.0,Westminster,W1B 4DY,51.51113,-0.13533,Hotel,Private room,7,...,"{TV,Wifi,""Air conditioning"",Essentials,""Hair d...",13700.0,0.0,0.0,2,80.0,0,0,4,NaN
75961,149362525,77.0,56.0,Westminster,w2 3na,51.51237,-0.18033,Apartment,Entire home/apt,6,...,"{TV,Wifi,Kitchen,Elevator,Heating,Washer,""Smok...",12345.0,0.0,60.0,6,0.0,0,0,56,NaN
75962,149362525,77.0,56.0,Westminster,w2 4qr,51.51153,-0.18680,Apartment,Entire home/apt,4,...,"{TV,Kitchen,Heating,Dryer,""Smoke detector"",""Ca...",12345.0,0.0,60.0,4,0.0,0,0,56,NaN
80143,149362525,77.0,56.0,Westminster,w2 6qj,51.51828,-0.18280,Apartment,Entire home/apt,5,...,"{TV,Wifi,Kitchen,Elevator,Heating,Dryer,""Carbo...",12345.0,0.0,60.0,5,0.0,0,0,56,NaN
83491,149362525,77.0,56.0,Westminster,w2 4qr,51.51187,-0.18872,Apartment,Entire home/apt,7,...,"{TV,Wifi,Kitchen,Elevator,Heating,Washer,Dryer...",12345.0,0.0,60.0,7,0.0,0,0,56,NaN

## Check bed_type

In [256]:
df['bed_type'].value_counts()

Real Bed         82269
Pull-out Sofa      413
Futon              183
Couch               70
Airbed              47
Name: bed_type, dtype: int64

In [258]:
df = df[df['bed_type'] == 'Real Bed']

Almost all are Real Bed so can discard column

In [259]:
df = df.drop(columns='bed_type')

In [260]:
df.columns

Index(['host_id', 'host_response_rate', 'host_listings_count',
       'neighbourhood_cleansed', 'zipcode', 'latitude', 'longitude',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'amenities', 'price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'number_of_reviews',
       'number_of_reviews_ltm', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [261]:
df.to_csv('listings_clean.csv')

In [262]:
df.to_pickle('listings_clean.pkl')